@tailwind base;
@tailwind components;
@tailwind utilities;




input[type=range]::-webkit-slider-thumb {
	z-index: 2;
	position: relative;
	box-shadow: 0px 0px 0px #000;
	border: 2px solid rgb(49 196 141 / var(--tw-bg-opacity));
	height: 16px;
	width: 16px;
	border-radius: 25px;
	background: #fff;
	cursor: pointer;
	-webkit-appearance: none;
	
}
.star-rating {
    font-size: 24px; /* Adjust size as needed */
  }
  
  .star {
   
    color: gold;
  }
  
  .star:hover,
  .star.active {
    color: gold; /* Change color to represent selected stars */
  }
.btn1{
    border: 0.5px solid black;
    width: 50%;
 
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 14px;
    margin:  auto 20%;
}

.btn1 :hover{
    color: white;
    background-color: rgb(25, 24, 24);
    transition: 0.5s;
    /* background-color: #dfdfdf; */
}

.btn3  {
  @apply   text-white hover:bg-green-500 p-2 capitalize overflow-hidden bg-green-600 transition-all duration-300 text-sm font-medium w-fit mt-2 border md:border-2  border-green-700 

}

.btn2{
  @apply text-white uppercase transition-all duration-300 bg-green-600 hover:bg-green-500 text-sm font-bold   border-2 border-green-700
}
.btn4{
    
}
#scrollbar_container::-webkit-scrollbar {
  width: 5px;
}

#scrollbar_container::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

#scrollbar_container::-webkit-scrollbar-thumb {
  background-color: #fefefe;
  border-radius: 50%;
  
}


/* 
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */








*{
  font-family: sans-serif;
}


#navbarNav1{
    /* border: 4px solid red; */
    /* font-size: ; */
    margin: 20px;
    background-color: #ffffff;
   font-family: sans-serif;
}
#bar {
  width: 50%; /* Set the width to 100% of its container */
  max-width: 500px; /* Set a maximum width if needed */
  padding: auto;

}



#sidebar{
    position:absolute;
    
    height: 1000px;
    background: #000;
    /* border: 2px solid red;  */
    left: -200px; 
    transition: 0.4s;
    top: 0;
    z-index: 2;
 
}


#sidebar ul li {
    list-style: none;
    color: #fff;
    font-size: 20px;
    padding: 20px 24px;
}

#sidebar .toggle-btn{
    position: absolute; 
   
  
     top:12px; 
    left:200px;
    z-index: 2;
    display: none;
}

.toggle-btn span{
    width: 45px;
    height: 5px;
    background:#000;
    display: block;
    margin-top:4px ;
}


 
.cat-img:hover{
    border: 1px solid rgb(195, 195, 195);

}
.nav-link:hover{
    color: #ABA7A7;
}
a:hover{
    color:#ABA7A7
}

*:focus {
  outline: none;
}

#search {
  background-color: #ececec;
  color: white;
  border-radius: 20px; /* Use a fixed pixel value for border radius */
  height: 40px; /* Increase the height for better visibility */
  width: 35%;
  margin-left: 20px;
  padding: 5px; /* Add padding for better spacing */
  display: flex;
  align-items: center;
  z-index: 1;
}
.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #44c0b8;
  color: black;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold; /* Apply bold font weight */
 
}





#inside-search {
  flex: 1; /* Allow the input to expand and fill the container */
 /* Remove default input border */
  background: none; /* Remove default input background */

  padding: 5px; /* Add padding inside the input */
  outline: none;
  color: black;
  border: none;
  
}



#pwc .nav-link{
  
    margin:auto ;
}
#pwc .name{
    font-size: 12px;
}

#navbarNav1 div{
 
    text-align: center;
   
    /* border: 2px solid gold; */
}
#navbarNav1 .nav-item{
    /* border: 2px solid rgb(52, 170, 89); */
    width: 12em;
   
}

.cat-img{
    /* border: 2px solid rgb(161, 132, 132); */
    width: 60%;
    height: 6.8em;
    border-radius: 5em;
    background-color: white;
    margin: auto auto;

}




@media screen and (max-width:768px) {

  
 
   
    #pwc{
        /* border: 2px solid red; */
        width: 30%;
        padding: 0px 0px;
         
        /* padding: 0px 10px; */
        
    }
    #pwc .nav-link{
        margin:20% auto;
        height: 40%;
        /* border: 2px solid #ff0000; */
    }
  
    #pwc .nav-item{
        /* text-align:center; */
        margin:0px 8%;
        /* font-size: 9px; */
        /* border:2px solid red; */
    }
    .name{
        /* border: 2px solid red; */
       
        margin: auto;
    }
    
   
    #sidebar .toggle-btn{
        display:block; 
       
    }
    #navbarNav1{
        margin:1% auto;
    }
    
     #navbarNav1 .nav-link{
        /* border: 2px solid saddlebrown; */
        margin: 4% auto ;
        font-size: 9px;
        height: auto;
        padding: 0;

      
    }
    #navbarNav1 div{
        font-size: 1.2em;
    }
    #navbarNav1 .nav-item{
        height: 7em;
        /* border: 2px solid red; */
    }
    .cat-img{
        height: 9em;
        width: 9em;
        border-radius: 50%;
    }
 
}












#t-container {
    
    border: 0.5px solid rgb(0, 0, 0);
 
    background-color:  rgb(255, 255, 255);
    color: rgb(28, 28, 28);
    font-family: sans-serif;
    text-align: center;
}

#t-component {
    display: flex;
    height: 100%;
    margin: 2%;
}

#t-component #testimonial-img {
    /* border: 2px solid rgb(236, 232, 232); */
    width: 20%;
    height: 50%;
   
    background-color: white;
}

#opinion {

    /* border: 2px solid red; */
    width: 100%;
    text-align: left;
    
}



/*table*/
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

  /*ratings */
  .reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 547px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
    padding: 25px 0 69px 0;
    margin: 0 auto;
  }
  
  .reviews__heading {
    font-size: 32px;
    color: #323357;
    font-family: "Muli";
    font-weight: 700;
    text-align: center;
    margin: 28px 0;
  }
  
  .reviews__average-ratings {
    margin-bottom: 63px;
  }
  
  .average-ratings__stars {
    display: flex;
    align-items: center;
    padding: 0 25px;
    width: 347px;
    height: 63px;
    border-radius: 32px;
    background-color: #f5f8ff;
    margin-bottom: 8px;
  }
  
  .stars__average-rating-score {
    font-size: 16px;
    color: #323357;
    font-family: "Muli";
    font-weight: 400;
    margin-left: auto;
  }
  
  .average-ratings__total-customers {
    font-size: 16px;
    color: #595b71;
    font-family: "Muli";
    font-weight: 400;
    text-align: center;
  }
  
  .reviews__breakdown {
    display: flex;
    margin-bottom: 44px;
  }
  
  .reviews-breakdown__wrapper {
    margin: 0 auto;
  }
  
  .reviews__single-star-average {
    display: flex;
    margin: 22px 0;
  }
  
  .reviews__single-star-average:first-child {
    margin-top: 0;
  }
  
  .single-star-average__amount {
    font-size: 18px;
    color: #2a5bda;
    font-family: "Muli";
    font-weight: 400;
  }
  
  .single-star-average__progress-bar {
    max-width: 280px;
    width: 280px;
    border-radius: 10px;
    background-color: #f5f8ff;
    padding: 1px;
    margin: 0 10px;
  }
  
  .progress-bar__data {
    width: 100%;
    height: 100%;
    padding: 2px;
    appearance: none;
    border: none;
  }
  
  .progress-bar__data[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 10px;
  }
  
  .progress-bar__data[value]::-webkit-progress-value {
    border-radius: 8px;
    filter: drop-shadow(0px 4px 5px rgba(255, 204, 72, 0.53));
    background: #ffcc48;
  }
  
  .single-star-average__percentage {
    font-size: 18px;
    color: #323357;
    font-family: "Muli";
    font-weight: 400;
  }
  
  .calculation-info__desc {
    font-size: 16px;
    color: #2a5bda;
    font-family: "Muli";
    font-weight: 400;
  }


  /*give ratings*/
  .rate {
    border:"2px solid red";
    float: left;
   

}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

  
